
*{padding: 0;
  margin: 8;
  box-sizing: border-box;


}


.about {
  text-align: center;
  margin: 20px;
  border: 1px solid black;
  background: white;

  display: flex;
 flex-direction: row;
}

.hotline {
  background: grey;
  text-align: center;
  text-align: center;
  margin: 20px;
  border: 1px solid black;
  background: white;
  display: flex;

   flex-basis: 30%;

   flex-direction: column;
}

body {
background: pink;
}

.notalone{
  background: purple;
  text-align: center;
  text-align: center;
  margin: 20px;
  border: 1px solid black;
  background: white;
}
