*{padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Didact Gothic', sans-serif;
}

.navbar{
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color:#e6e6e6;
}

#page{
  background-color:#94db86;
  display: flex;
  display: inline;
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 10px;
  padding-top: 10px;
}

a{
  color:#faf5ff;
  text-decoration: none;
  font-weight: bold;
  font-size:15px;
}

#page:hover{
  background-color:#6092e0;
}

h1{
  display:flex;
  justify-content:center;
  border: 5px solid;
  margin-top: 20px;
  background-color: white;
  text-align: center;
  font-size: 40px;
  padding: 20px;
}
.hey {
  padding: 20px;
  font-size: 20px;
}
/*start of s-care code*/
h2{
  display: inline;
}

.boxed {
  border: 1px solid green;
  padding-bottom: : 0px;
  margin-bottom: 0;
  background-color: white;
  font-size: 25px;


}
.MentalBox {
  padding: 0px;
  border: 1px solid;
  width:300px;
  height: 200px;
  background-color: white;
  font-size: 19px;
}

 .EmotionalBox{
   border: 1px solid;
   width:300px;
   height: 200px;
   padding: 0px;
   background-color: white;
   font-style: 20px;

 }
 .PhysicalBox {
   border:1px solid;
   width:300px;
   height: 200px;
   background-color: white;
   font-size: 20px;
 }

.mh{
  display: flex;
  flex-direction: row;

}
.eh{
  display: flex;
  flex-direction: row;


}
.ph{
  display: flex;
  flex-direction: row;
}
#m{
  .parent {
  display: flex;
}
  /* .parent { */
  /* display: inline-flex; */
}


.tips {
border:1px;
}

.all {
  display:flex;
  flex-direction: row;
}

.headers{
  display:inline;
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.boxes{
  display:inline;
  display:flex;
  justify-content: space-around;
  margin: 20px;
  padding: 10px;

}
.new{
  display:inline;
  display:flex;
  justify-content: space-around;
}

body {
  background-color: #C2E4f0;
}


/* .old { */
  /* display:inline; */
  /* display:flex; */
  /* justify-content: space-around; */
/* } */
.t{
  border:1px solid;
  /* width: 175px; */
  /* height: 320px; */
  margin-left: 0px;
  background-color: white;
  font-size: 20px;
}
.s{
  border:1px solid;
  /* width: 175px; */
  /* height: 320px; */
  margin-left: 0px;
  background-color: white;
  font-size: 20px;
}
section {
  display:flex;
  flex-wrap: nowrap;
}
