*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%
}

body {
  min-height: 100%;
  background-color: Lavender;
}

.title{
  display: flex;
  justify-content: center;
    text-align: center;
}

/* #quote {
  display: flex;
} */

.kindnessQuote {
  display: flex;
  flex-direction: column;
 justify-content: flex-end;
 align-items: flex-end;
 bottom: 0;
 height: 100%;

}
h1{
  display: flex;
  justify-content: center;
    text-align: center;
}

button {
  display: flex;
  background-color:silver;
  border: none;
  color: white;
  padding: 20px;
  text-align: flex-end;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 12px 6px;
}

.stuff{
border-style: solid;
border-color: red;
border-width:thick;

}

.hl{
display: flex;
justify-content: space-between;
padding:45px;
margin:35px
}

img {
  border: 10px solid;
  flex-direction: row;
}


.hl-info{
border-style: solid;
border-color: black;
border-width:thick;
width: 500px;
height: 850px;


}
